#full-profile
  #sidebar
    = image_tag("image2.png", :alt => "Featured child")
    %ul
      %li.left
        %a View photos
      %li.right
        %a View videos
    %p Dear Frank,
    %p Your €30 monthly sponsorship of Akash Gurav benefits his entire community. Thank you for being a part of it!

  #main
    %h4 Akash Gustav
    #tabs
      %ul 
        %li#active
          = link_to "Info", static_page_path('child_profile')
        %li
          = link_to "Images", static_page_path('child_profile_gallery')
        %li
          = link_to "Videos", static_page_path('child_profile_videos')
        
    #info.tab
      .section
        %h6 Basic information
        %dl.basic
          %dt Gender: 
          %dd Boy
          %dt Birthday: 
          %dd 15.07.2006
          %dt Age: 
          %dd 3
          %dt Location: 
          %dd Bangalore
        %dl.basic
          %dt School: 
          %dd BlueBells
          %dt Likes: 
          %dd Cricket, soccer
          %dt Family religion: 
          %dd Hindu
      
      .section  
        %h6 Biography
        %p Lorem ipsum dolor sit amet, maiores ornare ac fermentum, imperdiet ut vivamus a, nam lectus at nunc. Cum quam euismod sem, semper ut potenti pellentesque quisque. In eget sapien sed, sit duis vestibulum ultricies, placerat morbi amet tellus vivamus, dictum adipiscing convallis magna id. Viverra eu amet sit, dignissim tincidunt volutpat nulla tincidunt, feugiat est.
      
      .section
        %a.right view more photos
        %h6 Photo album
        
        %ul.gallery
          %li= image_tag("image3.jpg", :alt => "Featured child")
          %li= image_tag("image3.jpg", :alt => "Featured child")
          %li= image_tag("image3.jpg", :alt => "Featured child")
          %li= image_tag("image3.jpg", :alt => "Featured child")
          %li= image_tag("image3.jpg", :alt => "Featured child")
      
      .section
        %a.right view more videos
        %h6 Featured video
        <object width="580" height="460"><param name="movie" value="http://www.youtube.com/v/6riY-103vbc&amp;hl=en_US&amp;fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/6riY-103vbc&amp;hl=en_US&amp;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="580" height="460"></embed></object>
        
      