#schools
  .sidebar
    = image_tag("image2.png", :alt => "Featured child")
    %ul
      %li.left
        %a View photos
        %a View videos
      %li.right
        %a Contact

  .main
    %h4 Some School
    #tabs
      %ul 
        %li
          = link_to "Info", static_page_path('school_profile')
        %li#active
          = link_to "Images", static_page_path('school_profile_gallery')
        %li
          = link_to "Videos", static_page_path('school_profile_videos')
        %li
          = link_to "Contact", static_page_path('school_profile_contact')
          
    #gallery.tab
      .section
        %a.right view more images on picasa 
        %h6 Photo album
    
        %ul.gallery
          %li= image_tag("image3.jpg", :alt => "Featured child")
          %li= image_tag("image3.jpg", :alt => "Featured child")
          %li= image_tag("image3.jpg", :alt => "Featured child")
          %li= image_tag("image3.jpg", :alt => "Featured child")
          %li= image_tag("image3.jpg", :alt => "Featured child")
      
        %ul.gallery
          %li= image_tag("image3.jpg", :alt => "Featured child")
          %li= image_tag("image3.jpg", :alt => "Featured child")
          %li= image_tag("image3.jpg", :alt => "Featured child")
          %li= image_tag("image3.jpg", :alt => "Featured child")
          %li= image_tag("image3.jpg", :alt => "Featured child")
      
        %ul.gallery
          %li= image_tag("image3.jpg", :alt => "Featured child")
          %li= image_tag("image3.jpg", :alt => "Featured child")
          %li= image_tag("image3.jpg", :alt => "Featured child")
          %li= image_tag("image3.jpg", :alt => "Featured child")
          %li= image_tag("image3.jpg", :alt => "Featured child")